<% layout("/layout/boilerplate.ejs") -%>

<body>
  <header>
    <div class="panel">
      <div class="text-catch mb-4">
        LET'S ORDER FOR DELIVERY, PICK UP, OR DINE-IN
      </div>
      <a class="button glowing" href="/listings" style="text-decoration: none"
        >Order Now</a
      >
    </div>
  </header>

  <div class="poster">
    <picture>
      <!-- Choose image based on screen size -->
      <source
        srcset="
           https://res.cloudinary.com/dbel1jon0/image/upload/v1712654793/Food%20Orbit/mqwio3ff43zbx8stmabh.jpg
        "
        media="(max-width: 768px)"
      />
      <source
        srcset="
           https://res.cloudinary.com/dbel1jon0/image/upload/v1712655166/Food%20Orbit/m4nnasjj7jk7ovozhhwd.jpg
        "
        media="(min-width: 769px) and (max-width: 1024px)"
      />
      <source
        srcset="
          https://res.cloudinary.com/dbel1jon0/image/upload/v1712654546/Food%20Orbit/a4r2zgbz7pletba1tns8.jpg
        "
        media="(min-width: 1025px)"
      />
      <!-- Fallback image for older browsers -->
      <img
        src="https://res.cloudinary.com/dbel1jon0/image/upload/v1712654546/Food%20Orbit/a4r2zgbz7pletba1tns8.jpg"
        alt="Poster Image"
      />
    </picture>
  </div>

  <div class="browse glowing mt-2" style="background-color: #333 !important">
    <h1 class="browse-text">Browse Categories</h1>
    <hr />
  </div>

  <div class="hero-section">
    <% let count = 0 %> <% for(listing of allListings){ %> <% if (count >= 6) {
    break; } %>
    <div class="cards">
      <a href="/listings/<%=listing.id%>">
        <img
          src="<%=listing.image%>"
          class="card-img-top"
          alt="Listing Image"
        />
        <div class="card-overlays">
          <div class="card-bodys">
            <h5 class="card-titles"><%=listing.name%></h5>
            <p class="card-texts"><%=listing.description %></p>
          </div>
        </div>
      </a>
    </div>
    <% count++ %> <% } %>
  </div>
</body>
